/* You can add global styles to this file, and also import other style files */

body {
  background-color: #FEFDFD;
}
section {
  margin: 2rem 0;
}
.content {
  margin-top: .9rem;
}
.menu-icon {
  float: right;
}
.active {
  background: #d7d7d7;
}
.cards {
  display: flex;
  flex-direction: row;
}
.card {
  max-width: 20rem;
  width: 100%;
  margin-bottom: 1rem;
}
.mat-slide-toggle {
  margin-bottom: 1rem;
}
.mat-radio-button {
  margin-right: 0.5rem;
}
h3 {
  margin-bottom: 1rem;
}